@model _1311.Models.Ville

    @{
        ViewData["Title"] = "Creation du ville";
    }
<div class="row mt-2">
    <div class="col-6">
        <span class="display-5">
            @Html.Partial("HTML/_BackButton", "/Admin/ville")
           Creation Ville
        </span>
    </div>
   
</div>
   
    <hr />

    <div class="card">
      
        <div class="card-body">
            <div class="row">
        <div class="col-md-4">
            <form asp-action="create" asp-controller="ville" method="post">


                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input type="text" class="form-control" asp-for="Name" />

                </div>

              

                <input type="submit" class="btn btn-primary" value="Create" />
            </form>
        </div>
    </div>
        </div>

    </div>


    

    
