

    @{
    
  
    Layout = null;
}

<div class=""> 
        <div class="row">
            <img width="600px" height="600px" src="@ViewData["Chemin"]" alt="Image" />

            
            
        </div>
       
                    

</div>






    <script src="~/js/site.js"></script>
