@{
    Layout = null;
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container">


 <div class="row">
     <div class="col">
         <div class="card">
             <div class="card-header">
                 <div class="card-title">
                     Erreur Du Systeme .
                 </div>

             </div>
             <div class="card-body">
                 Erreur du systeme  <br />
                   @ViewBag.Message
             </div>

         </div>
     </div>
 </div></div>